echo ".DS_Store
*.zip
card-api.zip
node_modules/
dist/
build/
.gradle/
.idea/
out/
test/

# React / Node
dist-ssr/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
*.swp
*.patch"

db_data/
*.pem
*.local

# 설정 파일 제외
src/main/resources/application.properties
src/main/resources/application-local.properties
src/main/resources/application.yml